extends ../layout

block content
  h1= title
  p Seja bem-vindo ao portal de #{subtitle}
  hr
  a(href="/produtos/atualiza") Atualizar Estoque
  br
  br
  a(href="/produtos/listestoque") Listar Estoque
  
 
