extends layout

block content
  h1= title
  p Sistema de Controle da #{title}

  hr
  a(href="/produtos") Menu de Produtos
  br
  br
  a(href="/produtos/listprodutos") Menu de Vendas
  br
  br	
  a(href="/produtos/add") Menu de Estoque
  br
  br
  