extends layout

block content
  h1= title
  p Sistema de Controle da #{title}
  hr
  a(href="/produtos") Menu de Produtos
  br
  br  
  a(href="/vendas") Menu de Vendas
  br
  br
  a(href="/estoque") Menu de Estoque