extends ../layout

block content
    h1.
        Estoque
    hr
    br
    div(class="container")
        table(class='table')
            thead
                tr
                td Produto             
                td Marca    
                td Quantidade
                td PreçoTotal   
            tbody
            each venda, i in vendas.rows
                tr
                    //
                    td  #{venda.pdescricao}
                    td  #{venda.mnome}
                    td  #{venda.quantidade}
                    td  #{venda.precototal}
                  //td 
                        a(href="/produtos/editar/{produto.id}")
                            button(type='button', class='btn btn-warning btn-sm')
                                span(class='glyphicon glyphicon-edit') Editar
                         space
                        a(href="/produtos/delete/{produto.id}")
                            button(type='button', class='btn btn-danger btn-sm')
                                span(class='glyphicon glyphicon-remove' aria-hidden="true") Deletar
               
    a(href="/vendas") Voltar