extends ../layout

block content
    h1= title
    div(class="form-group")
        form(name="novavenda",method="post",action="/vendas/add")
          // Select Basic
          |Produto
          select#codproduto.form-control(name='codproduto', onchange="precov();")
             each estoque, i in estoques.rows
              option(value="#{estoque.idprodutos}") #{estoque.descricao}
          br
          // Text input
          |Preço de Venda
          input#precovenda.form-control.input-md(name='precovenda', type='text', required='', readonly="readonly") 
          br
          // Text input
          |Quantidade
          input#quantidade.form-control.input-md(name='quantidade', type='text', required='', value="0")
          br
          // Text input
          |Preço de Total
          input#precototal.form-control.input-md(name='precototal', type='text', required='', readonly="readonly")
          br
          // Button
          button.btn.btn-primary(type='submit') Cadastrar

        script(type='text/javascript').
          function id(el) {
            return document.getElementById( el );
            }
            function precototal( un, quantidade ) {
            return parseFloat(un.replace(',', '.'), 10) * parseFloat(quantidade.replace(',', '.'), 10);
            }
            window.onload = function() {
            id('precovenda').addEventListener('keyup', function() {
            var result = precototal( this.value , id('quantidade').value );
            id('precototal').value = String(result.toFixed(2)).formatMoney();
            });
            id('quantidade').addEventListener('keyup', function(){
            var result = precototal( id('precovenda').value , this.value );
            id('precototal').value = String(result.toFixed(2)).formatMoney();
            });
            }
            String.prototype.formatMoney = function() {
            var v = this;
            if(v.indexOf('.') === -1) {
            v = v.replace(/([\\d]+)/, "$1,00");
            }
            v = v.replace(/([\\d]+)\.([\d]{1})$/, "$1,$20");
            v = v.replace(/([\\d]+)\.([\d]{2})$/, "$1,$2");
            v = v.replace(/([\\d]+)([\d]{3}),([\d]{2})$/, "$1.$2,$3");
            return v;
            };

            function precov(){
             var produto = id('codproduto').value;
             id('precovenda').value = "#{estoques.rows["+produto+"]}";
            };
