extends ../layout

block content
    h1= title
    form(name="novaVenda",method="post",action="/vendas/add")
        |Produto
        select#tipo.form-control(name='codproduto')
             each estoque, i in estoques.rows
              option(value="#{estoque.idprodutos}") #{estoque.descricao}
        br
        // Text input
        | Quantidade
        input#quantidade.form-control.input-md(name='quantidade', type='text', required='')
        br
        // Text input
        |Preço de Venda
        input.form-control.input-md(id="precovenda",name='precovenda', type='text', value="#{estoque.precovenda}") 
        br
        // Button
        button.btn.btn-primary(type='submit') Cadastrar
          