extends ../layout

block content
  h1= title
  p Seja bem-vindo ao portal de #{subtitle}
  hr
  a(href="/produtos/add") Cadastrar produto
  br
  a(href="/produtos/listprodutos") Produtos Cadastrados
  
 
